.header {
    grid-area: h;
  }




  .loginBlock a {
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
  }

  
  .mainBlock {
    position: absolute;
    float: le;
    padding: 10px;
  }

  .mainBlock a {
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
  }
  