.lab {
  /* text-align: center; */
  grid-area: n;
  /* height: 1000px; */
  color: #000000 !important;
  text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
  margin-top: 230px;

}

.lab img {
  width: 400px;
}

.image1 {
  position: absolute;
  margin-top: 390px;
}


.text2 {
  text-align: center;
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 70px;
  left: -490px;
  margin-top: 422px;
}

.text3 {
  text-align: center;
  margin-top: -84px;
  left: -440px;
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-left: 260px;
}