.header {
    grid-area: m;
  }

  .nav {
    margin-top: 32px;
    width: 140px;
    background-color: rgb(67, 67, 68);
    padding: 20px;
    font-size: 19px;
  }

  .item a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-shadow:  1px 1px 1px rgb(4, 79, 255),
                  2px 2px 1px rgb(0, 0, 0);
  }

  .item a.active {
    color: gold;
    text-shadow:  1px 1px 1px rgb(244, 140, 4),
                  2px 2px 1px red;
  }

  .nav img{
    width: 50px;
    border-radius: 30px;
  }