.nav {
  position: relative;
    grid-area: m; 
    display: flex;  
    width: auto;
    justify-content: space-around;
    text-align: center;
    justify-self: space-around;
    background-color: rgb(223, 228, 250);
    padding: 5px;
    font-size: 19px;
    border-radius: 5px;
    margin: 10px;
    overflow-y: auto,
  }

  .item {
    padding: 2px;
  } 

  .item a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 14px;

  }

  .item a.active {
    color: rgb(70, 98, 109); 
    font-size: 17px;
    font-weight: bold;
    background-color: azure;
    padding: 3px 8px;
    font-size: 16px;
    border-radius: 3px;
    /* border: 1px solid #d3d3d3; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    width: 95px;
  }

  .button {
    border: none;
    background-color: rgba(240, 255, 255, 0);
    font-size: 16px;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .item  button:active {
    background-color: rgb(112, 112, 112);
  }

  .button:hover {
    background-color: azure;
    padding: 3px 8px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    /* background: #e6e6ff; */
    color: white;
}


 