.modalDates {
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(70, 70, 70, 0.9); */
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    /* align-items: center;
    justify-content: center; */
    opacity: 0;
    pointer-events: none;
    grid-template-rows:  2fr 2fr;
    transition: 0.5s;
    /* margin: 10px; */

}

.modalDates.active{
    opacity: 1;
    pointer-events: all;
    
}

.modalDates__content {
    margin-left: 1682px;
    margin-top: 110px;
    padding: 20px;
    border-radius: 3px;
    background-color: rgb(205, 207, 216);
    transform: scale(0.1);
    transition: 0.4s all;
    height: fit-content;
    width: 190px;
}

.modalDates__content.active {
transform: scale(1);
}

.type-2 {
    /* background-color: #fafafa; */
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
  }
  .type-2:hover {
    box-shadow:0 0 6px rgba(0,0,0,0.7);
  }

