.App {
  display: grid;
  margin: auto;
  height: fit-content;
  width: fit-content;
  grid-template-areas:
    "m m h"
    "n n c"
    "g e e";
  background-color: rgb(124, 156, 185);

  grid-template-rows: 65px 1fr 1fr;
  grid-template-columns: max-content 5fr 3fr;
  overflow: hidden;
}

* {
  /* box-sizing: border-box; */
}

.App-wrapper-content {
  grid-area: c;
}
