/* .lab {
    position: relative;
    margin-left: 1000px;
    grid-area: c;
    padding: 10px;
    display: grid;
    margin: 20px;
    grid-template-areas:
      "w b"
  }

  .names {
    margin-top: 10px;
  }
 */
