.name {
  margin-top: 10px;
  /* padding: 10px; */
  color: aliceblue;


}

.name span{
  padding: 0px;
  margin-left: 0px
}

.names {
  /* position: absolute; */
  /* padding: 10px;
  margin-left: 100px; */
}

.name a {
  text-decoration: none;
  color: aliceblue;
}

.box {
  display: flex;
  flex-wrap: wrap;
}
.box>* {
  flex: 1 1 160px;
}
